footer{
    background-color: #F5F4EE;
    padding-bottom: 70px;
}
.txt-foot p{
    color: gray;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
}
footer h3{
    font-size: 20px;
}
footer li a{
    transition: all .4s;
    text-align: left;
    color: gray;
    padding: 8px 0;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
}
footer ul{
    padding-left: 0;
}